{% extends "base.html.twig" %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        {% set account_type = "administrateur" %}
    {% elseif is_granted('ROLE_NATURALIST') %}
        {% set account_type = "naturaliste" %}
    {% else %}
        {% set account_type = "utilisateur" %}
    {% endif %}
    <h1>Mon compte {{ account_type }}</h1>
    <table>
        <thead>
        <th>Observation</th>
        <th>Date</th>
        <th>Status</th>
        </thead>
        {% for observation in observations %}
            <tr>
                <td>{{ observation.name }}</td>
                <td>{{ observation.date|date('d/m/Y') }}</td>
                <td>{{ observation.status }}</td>
            </tr>
        {% endfor %}
    </table>

    {% if app.user.avatar == null %}
        <img src="{{ asset('default/avatar.svg') }}" alt="" height="150">
    {% else %}
        <img src="{{ asset('uploads/avatar/' ~ app.user.avatar ) }}" alt="" height="150">
    {% endif %}
    <h2>{{ app.user.firstname }}</h2>
    <p>
        {{ app.user.biography }}
    </p>

    <a href="{{ path('change_avatar') }}">Change avatar</a>
    {% include "account/biography_form.html.twig" %}
    {% include "account/change_password.html.twig" %}
{% endblock %}