{% extends "base.html.twig" %}

{% block body %}
    {% if app.user.avatar != null %}
        <img src="{{ asset('uploads/avatar/' ~ app.user.avatar.filename) }}" alt="" height="150">
    {% endif %}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        <button type="submit">Mettre à jour mon avatar</button>
        {{ form_end(form) }}
    </form>
{% endblock %}