{% extends "base.html.twig" %}

{% block body %}
    <h1>Compte naturaliste</h1>

    <nav>
        <ul>
            {% include "menu/observations.html.twig" %}
            <a href="{{ path('admin') }}">Administration</a>
            <a href="{{ path('upgrade') }}">Upgrade</a>
        </ul>
    </nav>
    <table>
        <thead>
        <th>Observation</th>
        <th>Date</th>
        <th>Status</th>
        </thead>
        {% for observation in observations %}
            <tr>
                <td>{{ observation.name }}</td>
                <td>{{ observation.date|date('d/m/Y') }}</td>
                <td>{{ observation.status }}</td>
            </tr>
        {% endfor %}
    </table>

    {{ dump(app.user.roles) }}

    {% if app.user.avatar == null %}
        <img src="{{ asset('default/avatar.svg') }}" alt="" height="150">
    {% else %}
        <img src="{{ asset('uploads/avatar/' ~ app.user.avatar ) }}" alt="" height="150">
    {% endif %}
    <h2>{{ app.user.firstname }}</h2>
    <p>
    {{ app.user.biography }}
    </p>

    <a href="{{ path('naturalist_change_avatar') }}">Change avatar</a>
    <a href="{{ path('naturalist_change_biography') }}">Change biography</a>
{% endblock %}