{% extends "base.html.twig" %}

{% block body %}
    <h1>Change avatar</h1>

    <p>Current avatar</p>
    {% if app.user.avatar != null %}
        <img src="{{ app.user.avatar }}" alt="">
    {% else %}
        No avatar selected
    {% endif %}

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    <button type="submit">Valider</button>
    {{ form_end(form) }}
{% endblock %}