{% extends "base.html.twig" %}

{% block body %}
    <h1>Password reinitialisation</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_label(form) }}
    {{ form_widget(form) }}
    <button type="submit">Réinitialiser mon mot de passe</button>
    {{ form_end(form) }}
{% endblock %}