{# templates/AdminSpace/publishedCommentsModel.html.twig #}

<h2>{% if numberOfPublishedComments == 1 %} {{numberOfPublishedComments}}  commentaire publié : {% elseif numberOfPublishedComments > 1 %} {{numberOfPublishedComments}}  commentaires publiés :{% endif %}</h2>
{% for publishedcomment in publishedcomments %}
	<div>
		<p>{{ publishedcomment.content }}</p>
		<a href="{{ path('capture', {id: publishedcomment.capture.id}) }}"><p>Observation {{ publishedcomment.capture.id }}</p></a>
		<p>{{ publishedcomment.createdDate|date('d/m/Y') }}</p>
		<p>{{ publishedcomment.author.firstname }} {{ publishedcomment.author.lastname }}</p>
		<form action="{{ path('remove_comment', {id:  publishedcomment.id}) }}" method="get">
			<button type="submit">Supprimer</button>
		</form>
	</div>
{% endfor %}