{# templates/adminspace.html.twig #}

{% extends "layout.html.twig" %}

{% block title %} Espace d'administration {% endblock %}
{% block stylesheets %} {% endblock %}
{% block body %} 
	<h1>Espace administration</h1>
	<p>Compte {{ userRole }}</p>

	<section>
		<h2>{% if numberOfPublishedCaptures == 1 %}{{numberOfPublishedCaptures}} observation publiée : {% elseif numberOfPublishedCaptures > 1 %}{{numberOfPublishedCaptures}} observations publiées : {% endif %}</h2>
		<div>
			<ul>Observation
				{% for publishedcapture in publishedcaptures %}
					<a href="{{ path('observation', {id: publishedcapture.id}) }}"><li>Observation {{ publishedcapture.id }}</li></a>
				{% endfor %}
			</ul>
			<ul>Date
				{% for publishedcapture in publishedcaptures %}
					<li>{{ publishedcapture.createdDate|date('d/m/Y') }}</li>
				{% endfor %}
			</ul>
			<ul>Auteur
				{% for publishedcapture in publishedcaptures %}
					<li>{{ publishedcapture.user.firstname }} {{ publishedcapture.user.lastname }}</li>
				{% endfor %}
			</ul>
		</div>
		<div>
			<ul>
				{% if nbPublishedCapturesPage > 1 %}
					{% if previousPage > 0 %}
					<p> 
						<a href="{{ path('espaceAdministration', {page: previousPage}) }}"> << </a> 
					</p>
					{% endif %}
					{% for i in 1..nbPublishedCapturesPage %}
						<li {% if page == i %} class="active" {% endif %}>
   							<a href="{{ path('espaceAdministration', {page: i}) }}"> {{i}} </a>
   						</li>
   					{% endfor %}
    				<p>
    					{% if nextPage <= nbPublishedCapturesPage %}
    						<a href="{{ path('espaceAdministration', {page: nextPage}) }}"> >> </a>
    					{% endif %}
    				</p> 
    			{% endif %}
			</ul>
		</div>
	</section>

	<section>
		<h2>{% if numberOfWaitingforvalidationCaptures == 1 %}{{numberOfWaitingforvalidationCaptures}}  observation en attente : {% elseif numberOfWaitingforvalidationCaptures > 1 %}{{numberOfWaitingforvalidationCaptures}}  observations en attentes {% endif %}</h2>
		<div>
			<ul>Observation
				{% for waitingforvalidationcapture in waitingforvalidationcaptures %}
					<a href="{{ path('validerObservation', {id:  waitingforvalidationcapture.id}) }}"><li>Observation {{ waitingforvalidationcapture.id }}</li></a>
				{% endfor %}
			</ul>
			<ul>Date
				{% for waitingforvalidationcapture in waitingforvalidationcaptures %}
					<li>{{ waitingforvalidationcapture.createdDate|date('d/m/Y') }}</li>
				{% endfor %}
			</ul>
			<ul>Auteur
				{% for waitingforvalidationcapture in waitingforvalidationcaptures %}
					<li>{{ waitingforvalidationcapture.user.firstname }} {{ waitingforvalidationcapture.user.lastname }}</li>
				{% endfor %}
			</ul>
		</div>
		<div>
			<ul>
				{% if nbWaitingForValidationCapturesPages > 1 %}
					{% if previousPage > 0 %}
					<p> 
						<a href="{{ path('espaceAdministration', {page: previousPage}) }}"> << </a> 
					</p>
					{% endif %}
					{% for i in 1..nbWaitingForValidationCapturesPages %}
						<li {% if page == i %} class="active" {% endif %}>
   							<a href="{{ path('espaceAdministration', {page: i}) }}"> {{i}} </a>
   						</li>
   					{% endfor %}
    				<p>
    					{% if nextPage <= nbWaitingForValidationCapturesPages %}
    						<a href="{{ path('espaceAdministration', {page: nextPage}) }}"> >> </a>
    					{% endif %}
    				</p> 
    			{% endif %}
			</ul>
		</div>
	</section>

	{% if 'administrator' in user.roles %}
		<section>
			<h2>{% if numberOfPublishedComments == 1 %} {{numberOfPublishedComments}}  commentaire publié : {% elseif numberOfPublishedComments > 1 %} {{numberOfPublishedComments}}  commentaires publiés :{% endif %}</h2>
			{% for publishedcomment in publishedcomments %}
				<p>{{ publishedcomment.content }}</p>
				<a href="{{ path('observation', {id: publishedcomment.capture.id}) }}"><p>Observation {{ publishedcomment.capture.id }}</p></a>
				<p>{{ publishedcomment.createdDate|date('d/m/Y') }}</p>
				<p>{{ publishedcomment.author.firstname }} {{ publishedcomment.author.lastname }}</p>
				<form action="{{ path('supprimerCommentaire', {id:  publishedcomment.id}) }}" method="get">
					<button type="submit">Supprimer</button>
				</form>
			{% endfor %}
			<div>
			<ul>
				{% if nbPublishedCommentsPages > 1 %}
					{% if previousPage > 0 %}
					<p> 
						<a href="{{ path('espaceAdministration', {page: previousPage}) }}"> << </a> 
					</p>
					{% endif %}
					{% for i in 1..nbPublishedCommentsPages %}
						<li {% if page == i %} class="active" {% endif %}>
   							<a href="{{ path('espaceAdministration', {page: i}) }}"> {{i}} </a>
   						</li>
   					{% endfor %}
    				<p>
    					{% if nextPage <= nbPublishedCommentsPages %}
    						<a href="{{ path('espaceAdministration', {page: nextPage}) }}"> >> </a>
    					{% endif %}
    				</p> 
    			{% endif %}
			</ul>
		</div>
		</section>

		<section>
			<h2>{% if numberOfReportedComments == 1 %}{{numberOfReportedComments}}  commentaire signalé : {% elseif numberOfReportedComments > 1 %}{{numberOfReportedComments}} commentaires signalés :{% endif %}</h2>
			{% for reportedcomment in reportedcomments %}
				<p>{{ reportedcomment.content }}</p>
				<a href='{{ path('observation', {id: reportedcomment.capture.id}) }}'><p>Observation {{ reportedcomment.capture.id }}</p></a>
				<p>{{ reportedcomment.createdDate|date('d/m/Y') }}</p>
				<p>{{ reportedcomment.author.firstname }} {{ reportedcomment.author.lastname }}</p>
				<form action="{{ path('ignorerCommentaireSignale', {id:  reportedcomment.id}) }}" method="get">
					<button type="submit">Ignorer</button>
				</form>
				<form action="{{ path('supprimerCommentaire', {id:  reportedcomment.id}) }}" method="get">
					<button type="submit">Supprimer</button>
				</form>
			{% endfor %}
		</section>
	{% endif %}
{% endblock %}
{% block javascripts %} {% endblock %}