<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Nos Amis les Oiseaux{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% for flashMessage in app.session.flashbag.get('error') %}
        {{ flashMessage }}
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        {{ flashMessage }}
    {% endfor %}
    <nav>
        <ul>
            {% include "menu/default.html.twig" %}
            {% include "menu/observations.html.twig" %}
            {% if is_granted('ROLE_USER') %}
                {% include "menu/pass.html.twig" %}
                <li><a href="{{ path('naturalist_account') }}">Compte naturaliste</a></li>
                <li><a href="{{ path('admin') }}">Administration</a></li>
                <li><a href="{{ path('logout') }}">Déconnexion</a></li>
            {% else %}
                <li><a href="{{ path('login') }}">Connexion</a></li>
                <li><a href="{{ path('register') }}">Inscription</a></li>
            {% endif %}
        </ul>
    </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
