<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Nos Amis les Oiseaux{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% for flashMessage in app.session.flashbag.get('error') %}
        {{ flashMessage }}
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        {{ flashMessage }}
    {% endfor %}
    <nav>
        <ul>
            <li><a href="{{ path('index') }}">Accueil</a></li>
            <li><a href="{{ path('repertoire') }}">Répertoire</a></li>
            <li><a href="{{ path('statistics') }}">Quelques données</a></li>
            <li><a href="{{ path('contact') }}">Contact</a></li>
            {% if is_granted('ROLE_USER') %}
                <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                <li><a href="{{ path('change_password') }}">Change password</a></li>
                <li><a href="{{ path('admin') }}">Administration</a></li>
            {% else %}
                <li><a href="{{ path('login') }}">Connexion</a></li>
            {% endif %}
            <li><a href="{{ path('lost_password') }}">Mot de passe perdu</a></li>
        </ul>
    </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
