<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Nos Amis les Oiseaux{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <!--Import materialize.scss-->
        <link type="text/scss" rel="stylesheet" href="{{ asset('css-design/materialize-src/sass/materialize.scss') }}" />

        <!-- personnalisations -->
        <link rel="stylesheet" href="{{ asset('css-design/css/style.css') }}">

    </head>
    <body>
    {% for flashMessage in app.session.flashbag.get('error') %}
        {{ flashMessage }}
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        {{ flashMessage }}
    {% endfor %}
    <nav>
        <ul>
            {% include "menu/default.html.twig" %}
            {% if is_granted('ROLE_USER') %}
                {% include "menu/pass.html.twig" %}
                {% if is_granted('ROLE_NATURALIST') %}
                    <li><a href="{{ path('naturalist_account') }}">Compte naturaliste</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('admin') }}">Administration</a></li>
                    {% endif %}
                {% endif %}
                <li><a href="{{ path('logout') }}">Déconnexion</a></li>
            {% else %}
                <li><a href="{{ path('login') }}">Connexion</a></li>
                <li><a href="{{ path('register') }}">Inscription</a></li>
            {% endif %}
        </ul>
    </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
