{# templates/homePage.html.twig #}

{% extends "layout.html.twig" %}

{% block title %} Nos amis les oiseaux {% endblock %}
{% block stylesheets %} 
	{{ parent() }}
	<style type="text/css">
			.map{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
				height:200px;
				width:200px;
			}
		</style>
{% endblock %}
{% block body %}
	<h1>Nos amis les oiseaux</h1>
    <section>
    	<h2>Les dernières observations</h2>
    	{% set i = 0 %}
		{% for capture in captures %}
			<div>
				<p>{{capture.image}}</p>
				<p>{{capture.bird.vernacularname}}</p>
				<p>{{ capture.address }}, {{ capture.zipcode }}, {{ capture.city }}</p>
				<p>{{ capture.createdDate|date('d/m/Y') }}</p>
				<div id="map{{i}}" class="map">
				</div>
				{% set i = i + 1 %}
			</div>
		{% endfor %}
	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('javascript/showcapturemap.js') }}"></script>
{% endblock %}