<section>
	<div>
		<h2>Observations partagées</h2>
		<ul>
			<p>Observation </p>
			{% for capture in captures %}
				{% if capture.status == 'published' or capture.status == 'validated' %}
					<a href="{{ path('capture', {id: capture.id}) }}"><li>Observation {{ capture.id }}</li></a>
				{% elseif capture.status == 'draft' %}
					<a href="{{ path('add_capture', {id: capture.id}) }}"><li>Observation {{ capture.id }}</li></a>
				{% else %}
					<li>Observation {{ capture.id }}</li>
				{% endif %}
			{% endfor %}
		</ul>
		<ul>
			<p>Date</p>
			{% for capture in captures %}
				<li>{{ capture.createdDate|date('d/m/Y') }}</li>
			{% endfor %}
		</ul>
		<ul>
			<p>Statut</p>
			{% for capture in captures %}
				<li>{{ capture.status }}</li>
			{% endfor %}
		</ul>
	</div>

	<div>
		<ul>
			{% if nbCapturesPages > 1 %}
				{% if previousPage > 1 %}
				<p> 
					<a href="{{ path('user_account', {page: previousPage}) }}"> << </a> 
				</p>
				{% endif %}
				{% for i in 1..nbCapturesPages %}
					<li {% if page == i %} class="active" {% endif %}>
   						<a href="{{ path('user_account', {page: i}) }}"> {{i}} </a>
   					</li>
   				{% endfor %}
    			<p>
    				{% if nextPage <= nbCapturesPages %}
    					<a href="{{ path('user_account', {page: nextPage}) }}"> >> </a>
    				{% endif %}
    			</p> 
    		{% endif %}
		</ul>
	</div>
</section>