{# templates/Capture/addModifyOrValidate.html.twig #}

{% extends "layout.html.twig" %}

{% block title %}Valider une observation - Compte {{ userRole }} {% endblock %}
{% block body %}
	<h1>Valider une observation</h1>
    <h2 id="userRole" data-userrole={{ role }}> Compte {{ userRole }}</h2>
    {% if capture is defined %}
        <img src="{{ asset('uploads/bird/' ~ capture.image.filename) }}" alt="" height="150">
    {% endif %}
    {{ form(form) }}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('javascript/geolocation.js') }}"></script>
{% endblock %}