{# templates/Capture/addModifyOrValidate.html.twig #}

{% extends "layout.html.twig" %}

{% block title %}{{ title }} - Compte {{ userRole }} {% endblock %}
{% block body %}
	<h1>{{ title }}</h1>
    <h2 id="userRole" data-userrole={{ role }}> Compte {{ userRole }}</h2>
    {% if capture is defined %}
        {% if capture.image is not null %}
            <img src="{{ asset('uploads/bird/' ~ capture.image.filename) }}" alt="" height="150">
        {% else %}
            <a href="{{ path('add_image_on_capture', {'id': capture.id}) }}">Ajouter une image</a>
        {% endif %}
    {% endif %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    <button type="submit">{{ title }}</button>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('javascript/geolocation.js') }}"></script>
{% endblock %}