{# templates/Capture/showCapture.html.twig #}

{% extends "layout.html.twig" %}

{% block title %}Observation numéro {{ id }} {% endblock %}

{% block mapStylesheets %}
	{{ parent() }}
	<style type="text/css">
			.capturemap{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
				height:400px;
			}
		</style>
{% endblock %}

{% block body %}
	<div id="map0" class="capturemap" data-identifiant={{ id }}>
	</div>
	<h1><a href="{{ path('bird', {id: capture.bird.id}) }}">{% if capture.bird.vernacularname == false %}{{ capture.bird.validname }} {% else %} {{ capture.bird.vernacularname }} - {{ capture.bird.validname }}{% endif %}</a></h1>
	<p>{{capture.image}}</p>
	<p>{% if capture.status == 'validated' %}Validé {% endif %}</p>
	<p>{{ capture.createdDate|date('d/m/Y') }}</p>
	<p>{{ capture.address }}, {{ capture.zipcode }}, {{ capture.city }}</p>
	<p>Informations :</p>
	<p>{{ capture.content }}</p>
	<p>Publié par : {% if capture.user.avatar == null %} {{ capture.user.username }} {% else %} {{ capture.user.avatar }} {% endif %}</p>
	{% if 'particular' in capture.user.roles %} <p>Validé par : {% if capture.validatedBy.avatar == null %} {{ capture.validatedBy.username }} {% else %} {{ capture.validatedBy.avatar }} {% endif %}</p> {% endif %}

	<p id="numbercomments" data-number={{ numberOfCaptureComments }}>{% if numberOfCaptureComments == 1 %} Commentaire : {% elseif numberOfCaptureComments > 1 %} Commentaires : {% else %} Soyez le premier à commenter ! {% endif %}</p>
	<section id="comments">
		<ul id="comment">
		</ul>
	</section>
	{{ form(form) }}
{% endblock %}

{% block mapJavascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('javascript/maps/showcapturemap.js') }}"></script>
{% endblock %}
{% block paginationJavascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('javascript/comments/commentspagination.js') }}">
	</script>
{% endblock %}
   
