{# templates/Capture/showCaptures.html.twig #}

{% extends "base.html.twig" %}

{% block title %} Observations {% endblock %}
{% block stylesheets %} 
	{{ parent() }}
	<style type="text/css">
			#map{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
				height:400px;
			}
		</style>
{% endblock %}
{% block body %}
	<div id="map">
	</div>
	<form action="{{ path('observations') }}" method="post">
		<select name="bird" id="">
            {% for bird in birds %}
				<option value="{{ bird.vernacularname|lower }}">{{ bird.vernacularname }}</option>
            {% endfor %}
		</select>
		<select name="region" id="region">
            {% for region in regions %}
				<option value="{{ region.nom|lower }}">{{ region.nom }}</option>
            {% endfor %}
		</select>
		<button type="submit">Rechercher</button>
	</form>
    <section>
        {% if captures_found is defined %}
            {{ dump(captures_found) }}
            {% for capture in captures_found %}
				<div>
					<p>{{capture.image}}</p>
					<p>{{capture.bird.vernacularname}}</p>
					<p>{{ capture.address }}, {{ capture.zipcode }}, {{ capture.city }}</p>
					<p>{{ capture.createdDate|date('d/m/Y') }}</p>
				</div>
            {% endfor %}
        {% endif %}
		<div>
			<ul>
				{% if nbCapturesPages > 1 %}
					{% if previousPage > 0 %}
					<p> 
						<a href="{{ path('observations', {pageNumber: previousPage}) }}"> << </a> 
					</p>
					{% endif %}
					{% for i in 1..nbCapturesPages %}
						<li {% if pageNumber == i %} class="active" {% endif %}>
   							<a href="{{ path('observations', {pageNumber: i}) }}"> {{i}} </a>
   						</li>
   					{% endfor %}
    				<p>
    					{% if nextPage <= nbCapturesPages %}
    						<a href="{{ path('observations', {pageNumber: nextPage}) }}"> >> </a>
    					{% endif %}
    				</p> 
    			{% endif %}
			</ul>
		</div>
	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('javascript/showmap.js') }}"></script>
{% endblock %}
   
