{% extends "layout.html.twig" %}

{% block title %}{{ title }} - Compte {{ userRole }} {% endblock %}
{% block body %}
    <h1>{{ title }}</h1>
    <h2 id="userRole" data-userrole={{ role }}> Compte {{ userRole }}</h2>
    {% if capture.image is not null %}
        <img src="{{ asset('uploads/bird/' ~ capture.image.filename) }}" alt="" height="150">
        <form action="{{ path('delete_capture_image') }}" method="post">
            <input type="hidden" name="capture" value="{{ capture.id }}">
            <button type="submit">Supprimer l'image</button>
        </form>
    {% else %}
        Image non disponible.
    {% endif %}
    {{ form(form) }}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('javascript/geolocation.js') }}"></script>
{% endblock %}